# Introducción a la Estadística - Simuladores -  by M.Sc. Emerson D. Norabuena
- Análisis exploratorio del Crédito Bancario

## Acerca del conjunto de datos

Contexto

Este es el conjunto de datos utilizado en la sección "procesamiento y organización de datos, distribución de fecuencias y tablas" del curso de introducción a la Estadística. El conjunto de datos es muy útil para los estudiantes en el aprendizaje automático y es un campo de juego sencillo donde comparar varias técnicas/habilidades.

Se puede descargar gratuitamente aquí: https://www.superdatascience.com/deep-learning/

Objetivo de estudio:
El área de banca y seguros del BCP tiene el objetivo de analizar la tasa de clientes que abandonan el banco, para ello es necesario evaluar el conjunto de datos  de 42 registros para investigar y  predecir que clientes que  tienen más probabilidades de abandonar el banco pronto.

Los atributos de esta dataset es:

1. EstimatedSalary
   Diaria($)


Conten:
1. Load and Check Data
1. Data Visualization
1. Feature Engineering
1. Modeling Train - Test Split
1. Standardization

In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
 EstimatedSalary = np.array(
    [[15, 38, 14, 13, 29, 25], [20, 11, 16, 32, 44, 39],
     [45, 46, 19, 23, 24, 18], [19, 20, 21, 18, 25, 33],
     [13, 18, 22, 24, 27, 27],[19, 20, 21, 18, 25, 33],
     [13, 18, 22, 24, 27, 27]]
    )

In [3]:
datos = EstimatedSalary[:,:].flatten()

In [4]:
# Paso 03: Regla de Sturges
k = 1 + 3.32 * math.log10(len(datos))
periodos = math.ceil(k)

In [5]:
inf = datos.min()        # Límite inferior del primer intervalo
dif = datos.max()
sup = datos.max() + 1    # Límite superior del último intervalo

In [6]:
intervals = pd.interval_range(
    start=inf,
    end=sup,
    periods=k,
    name="EstimatedSalary ($)",
    closed="left")

In [7]:
df = pd.DataFrame(index=intervals)
df["Marca de clase"]  = df.index.mid
df["fi"] = pd.cut(datos, bins=df.index, right=False).value_counts()
df["FI"] = df["fi"].cumsum()
df["hi"] = df["fi"] / len(datos)
df["HI"] = df["hi"].cumsum()

In [8]:
df

                     Marca de clase  fi  FI        hi        HI
EstimatedSalary ($)
[11, 17)                       14.0   7   7  0.166667  0.166667
[17, 23)                       20.0  15  22  0.357143  0.523810
[23, 29)                       26.0  11  33  0.261905  0.785714
[29, 35)                       32.0   4  37  0.095238  0.880952
[35, 41)                       38.0   2  39  0.047619  0.928571
[41, 47)                       44.0   3  42  0.071429  1.000000